<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-2.1.4.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">휴게소 정보</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/menu">휴게소 메뉴</a></li>
                        <li class="nav-item"><a class="nav-link" href="/weather">날씨</a></li>
                        <li class="nav-item"><a class="nav-link" href="/lpg">LPG</a></li>
                        <li class="nav-item"><a class="nav-link" href="/post">Board</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownLogin" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Login</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownLogin">
                                <li><a class="dropdown-item" href="/login">Login</a></li>
                                <li><a class="dropdown-item" href="/signup">Sign-up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="ui raised segment">
			<a class="ui blue ribbon label">게시판</a>
     			<span id="board_title">글쓰기</span>
		
			
			<div class="ui blue fluid card">
				 <div class="content">
			       		 
					<form class="content ui form" method="post" action="/post/addpost">
						<h4 class="ui dividing header">글 쓰기 입력 항목</h4>
						
						<div class="two fields">
				    		<div class="field">
				      			<label>제목</label>
								<input type="text" name="title" placeholder="제목 입력">
							</div>
							<div class="field"></div>
						</div>
								
						<div class="field">
				    		<label>내용</label>
				    		<textarea id="contents" name="contents" rows="10" cols="80"></textarea>
				  		</div>		
								
						<div class="two fields">
				    		<div class="field">
				      			<label>작성자</label>
								<input type="text" name="writer" placeholder="작성자아이디 입력">
							</div>
							<div class="field"></div>
						</div>
								 
						<input class="ui submit button" type="submit" value="추가" name="" />
						<input class="ui button" type="button" value="취소" name="" onclick="javascript:history.back()" />
					</form>
					
					<br><br>
					
				</div>
			</div>
		</div>
 
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Your Website 2022</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>